.mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 78%;
  align-items: center;
  }

  .metodos h1 {
    padding-top: 15%;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    padding-bottom: 5%;
    border-bottom: 1px solid white;
    }

    .options-container {
      padding-top: 3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
      max-height: 70%;
    }
