.Pizzaiolo .MidScreen {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: #322C2C; 
    }

    .Pizzaiolo .MidScreen #warning {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-size: 100px;
      font-weight: bold;
    }

    .Pizzaiolo .MidScreen #icon {
      font-size: 150px;
    }

    .MidScreen .Box {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: black 2px solid;
      width: 30%;
      height: 30%;
      background-color: white;
    }