.Login {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .Login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images5.alphacoders.com/108/thumb-1920-1083453.jpg');
    filter: blur(5px);
    z-index: -1;
  }
  
.LoginBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vh;
    height: 60vh;
    background-color: #322C2C;
    border-radius: 30px;
    box-shadow: 0px 40px 50px #000000;
    }
    
    .TopBox {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 90%;
        color: #322C2C;
        height: 20%;
        border-bottom: solid white 1px;
        }

        .titleBox {
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
            height: 70%;
            font-family: "Roboto-Light", Helvetica;
            font-size: x-large;
            width: fit-content;
            border-radius: 10px;
            background-color: white;

        }
        
        .diferentColor {
            color: #ffa740;
        }
    
    .MidBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        color: #322C2C;
        height: 65%;
        border-bottom: solid white 1px;
        font-family: "Roboto-Light", Helvetica;
        font-weight: bold;
        padding-top: 5%;
        }
        
        .Input1 {
            display: flex;
            flex-direction: column;
            color: white;
            width: 100%;
            height: 50%;
        }

        .Input1 label {
            font-size: 38px;
            text-align: start;
        }
        
        .Input1 input {
            margin-top: 1%;
            padding-left: 2%;
            font-size: larger;
            border-radius: 10px;
            border: 0;
            height: 40%;
            width: 98%;
        }
        .Input2 {
            display: flex;
            flex-direction: column;
            color: white;
            width: 100%;
            height: 50%;
        }

        .Input2 label {
            font-size: 38px;
            text-align: start;
        }

        .PasswordBox {
            margin-top: 1%;
            display: flex;
            width: 100%;
            height: 40%;
        }

        #password {
            font-size: larger;
            border-radius: 10px 0 0 10px;
            border: 0;
            width: 90%;
            padding-left: 2%;
        }


        .Input2 .showPassword {
            height: 100%;
            width: 10%;
            border-radius: 0 10px 10px 0;
            padding-left: 1%;
            padding-right: 1%;
            border-left:ridge #322C2C  1px;
            background-color: white;
        }
        
    .BottomBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        color: #322C2C;
        height: 30%;
        font-family: "Roboto-Light", Helvetica;
        font-weight: bold;
        }
        
        .BottomBox button {
            width: 100%;
            height: 60%;
            border-radius: 20px;
            border: 0;
            font-size: 45px;
            font-weight: bold;
            background-color: #ffa740;
        }



        

