.Option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  background-color: white;
  width: 50%;
  height: fit-content;
  padding: 1%;
  border-radius: 10px;
  }
  
  .Description {
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto-Regular", Helvetica;
  }
  
  .Option.selected {
    outline: 2px solid green;
    border-radius: 10px;
  }
  @keyframes blink-green {
    0% { outline: none; }
    50% { outline: 2px solid green; }
    100% { outline: 4px solid green; }
  }
  
  .selected.shine-green {
    outline: 4px solid green;
    border-radius: 10px;
    animation: blink-green 50ms;
  }