.Options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62vh;
  }
  
  .Option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .ButtonContainer {
    display: flex;
    flex-direction: column;
    width: 115px;
    height: 115px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
  }
  
  .ButtonContainer img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .Description {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
  }
  
  .selected {
    outline: 2px solid green;
    border-radius: 10px;
  }

 .Pix img {
  width: 115px;
  height: 115px;
 }

 .Pix {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}