.Carrinho {
  display: grid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: height 0.3s ease;
  background: rgb(252, 179, 54);
  justify-items: center;
  align-items: center;
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0;
  /* transform-origin: bottom; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.Carrinho.Active {
  display: grid;
  height: 90%;
  margin-left: 0%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 10);
}

.Carrinho button {
  margin-top: 20px;
  background-color: #f5f5f5;
  border: none;
  background: none;
  border-radius: 4px;
}

.Carrinho span {
  font-weight: bold;
  align-items: center;
  font-size: 40px;
  margin-right: 10px;
  font-family: 'arial';
}

.Cadastro {
  margin-top: 30px;
  width:80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  border-radius: 10px;
  background-color:rgb(252, 179, 54);
}

.Cadastro h1 {
  display: grid;
  margin-left: 4%;
  font-size: 3vh;
}

.Cadastro h1 input {
  font-size: larger;
  border-radius: 10px;
  height: 40px;
  width: 92%;
}

.CarrinhoBox {
  border-top: 100px;
  border-bottom: #322C2C;
  margin-top: 40px;
  overflow-y: scroll;
  width: 98%;
  max-height: 100%;
}

.ItemCarrinho {
  display: flex;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 0;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #322C2C;
  min-height: 120px;
  max-height: 120px;
  max-width: 99.5%;
  min-width: 99.5%;
}

.ItemCarrinho .Detalhes {
  display: grid;
  max-width: 70%;
  min-width: 70%;
}

.ItemCarrinho .Nome {
  margin-left: 10px;
  margin-top: 10px;
  max-width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: large;
  font-family: 'arial';
  white-space: pre-wrap;
}

.ItemCarrinho .Descricao {
  max-width: 80%;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: justify;
  font-size: small;
  font-family: 'arial';
  white-space: pre-wrap;
}

.DivValores {
  position: relative;
  justify-self: center;
  display: flex;
  transform: translate(0%,25%);
  align-items: center;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 10);
  width: 80px;
  height: 40px;
}

.ItemCarrinho .Valor {
  position: relative;
  font-weight: bold;
  text-align: left;
  transform: translate(0%,-170%);
  margin-right: 10px;
  font-family: 'arial';
  font-size: medium;
}

.ItemCarrinho .Quantidade {
  font-size: larger;
  width: 20px;
  position: absolute;
  transform: translate(150%,0%);
  text-align: center;
}

.ItemCarrinho .Lixeira {
  color: red;
  position: absolute;
  top: 5%;
  transform: translate(0%, -52.25%);
}

.DownCarrinho {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.DownCarrinho h2{
  left: 0;
  transform: translate(10%, 20%);
}

.DownCarrinho button {
  font-weight: bold;
  background: rgb(6, 185, 6);
  font-size: larger;
  height: 40px;
  transform: translate(112.5%, -2.5%);
}