.Pizzaiolo .MidScreen {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: #322C2C; 
    }

    .MidScreen .Box {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: black 2px solid;
      width: 30%;
      height: 30%;
      background-color: white;
    }