.Options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62vh;
  }
  
  .Option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .ButtonContainer {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
  }
  
  .ButtonContainer img {
    width: 125px;
    height: 100px;
  }
  
  .Description {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
  }
  
  .selected {
    outline: 2px solid green;
    border-radius: 10px;
  }