.LeftBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: rgb(19, 93, 177);
  }

  .LeftBox .TopBox {
    background-color: rgb(19, 93, 177);
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 100%;
    color: white;
    text-align: center;
    border: 0;
  }

  .LeftBox .PerfilBox {
    display: flex;
    align-items: center;
    height: 10%;
    color: white;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgb(51, 53, 59);
    }
    
    #UserImge {
      border-radius: 50%;
      margin-left: 5%;
      margin-right: 5%;
      width: 22.5%;
      height: 85%;
      background-color: rgb(33, 34, 37);
    }


  .LeftBox .NavBox {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    background-color: rgb(51, 53, 59);
    }

    .Tittle {
      display: flex;
      align-items: center;
      text-align: left;
      color: rgb(84, 89, 104);
      padding-left: 8%;
      height: 10%;
      background-color: rgb(38, 39, 44);
    }