.TableTopContainer {
  position: relative;
  width: 98%;
  margin-left: 1%;
  min-height: 10%;
  align-items: center;
  justify-content: center;
  }

  .TableOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .TableOptions button {
    height: 60%;
    background-color: rgb(19, 93, 177);	
    color: white;
    font-weight: bold;
    font-size: large;
    width: 10%;
    border: 0;
    border-radius: 10px;
    transition: background-color 0.1s ease;
  }

  .TableOptions button:hover {
    background-color: rgb(0, 0, 122);
    cursor: pointer;
  }

  .TableOptions #refresh {
    text-align: center;
    font-size: 50px;
    width: 5%;
  }

  .TableOptions #refresh:hover {
    background-color: rgb(0, 0, 122);
    cursor: pointer;
  }

  .TableOptions #delete {
    background-color: red;
  }

  .TableOptions #delete:hover {
    background-color: rgb(122, 0, 0);
  }

.TableBox {
  display: flex;
  position: relative;
  overflow-x: auto;
  width: 98%;
  height: auto;
  margin-left: 1%;
  }

  .Table {
    max-width: 100%;
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 1%;
    }

    .Table th {
      font-weight: bold;
      width: fit-content;
      border: 1px solid black;
      color: white;
      background-color: rgb(19, 93, 177);
    }

    .Table td {
      font-weight: bold;
      padding-top: 1%;
      padding-bottom: 1%;
      background-color: rgb(241, 241, 241);
      text-align: center;
      color: black;
      border: 1px solid black;
    }
